@import '../../../assets/fonts/fonts.scss';

%text-format {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;   
}

.main {
    min-height: 100vh;
    padding: 40px;
    background-color: rgb(233, 237, 245);
    box-sizing: border-box;
    .header {
        .logo {
            span {
                @extend %text-format;
                font-size: 30px;
                line-height: 36px;
                color: rgb(63, 81, 181);
            }
            &:hover {
                cursor: pointer;
            }
            &:focus {
                outline: none;
            }
        }
    }
    .inner-content {
        padding: 60px;
        box-sizing: border-box;
    }
}